<!doctype <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Area Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Caveat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="main.js"></script>
</head>


<body>
    <div class="card bg-dark text-white">
        <img src="../../public/assets/images/grasscopy.jpg" class="card-img" alt="...">
    </div>
    <div class="card-img-overlay">
        <div class="row">
            <div class="container align-center text-center">
                <h1 class="display-4">Activities</h1>
                <div class="row mt-5">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Annual parade</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Bike trails</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Fireworks show</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Car Show</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Volunteering</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Craft fairs</button>
                    </div>
                </div>
            </div>

            <div class="container align-center text-center">
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Guided Tours </button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Many Gyms</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Family Friendly </button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Rock climbing</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Kayaking</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary">Fishing</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="container align-center text-center">
                <h1 class="display-4">Aesthetics</h1>
                <div class="row mt-5">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Scenic tours</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Historical markers </button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Lots Of Wildlife</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Old Houses</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Outdoor Murals</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Sculpture Garden</button>
                    </div>
                </div>
            </div>

            <div class="container align-center text-center">
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Modern Buildings</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Needs Upkeep </button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Industrial Area</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Distinct Skyline</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Graffiti</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-success">Undeveloped land </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="container align-center text-center">
                <h1 class="display-4">Social</h1>
                <div class="row mt-5">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Live music</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Unique bars</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Great shopping </button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Dog Clubs</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Young Crowd</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Congested</button>
                    </div>
                </div>
            </div>

            <div class="container align-center text-center">
                <div class="row mt-3">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Feels Safe</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Feels Dangerous</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Friendly People</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Snobby People</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Desolate</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-warning">Hipsters</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>


    <div class="dropdown-menu">
        <form class="px-4 py-3">
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                        Remember me
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">New around here? Sign up</a>
        <a class="dropdown-item" href="#">Forgot password?</a>
    </div>

</body>

</html>
