<!doctype <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Caveat" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

    <div class="button">
        <a class="btn btn-secondary btn-lg" a="" href="survey.html">Survey</a>
        <a class="btn btn-success btn-lg" a="" href="news.html">News</a>
        <a class="btn btn-success btn-lg" a="" href="home.html">Home</a>
    </div>
    <div class="container d-flex justify-content-center mt-5 mb-5">
        <div class="card text-center" style="width: 50rem;">
            <img src="../../public/assets/images/Screen Shot 2019-03-28 at 10.31.15 AM.png" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h3 class="card-text">Suggested Areas</h3>
                <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item">Uptown <span class="badge badge-primary badge-pill">Aesthetics</span>
                    </li>
                    <li class="list-group-item">Lakewood <span class="badge badge-primary badge-pill">Nightlife</span>
                    </li>
                    <li class="list-group-item">Bishop Arts <span
                            class="badge badge-primary badge-pill">Activities</span>
                    </li>
                    <li class="list-group-item">Deep Ellum <span class="badge badge-primary badge-pill">Nightlife</span>
                    </li>
                    <li class="list-group-item">Ridgewood <span class="badge badge-primary badge-pill">Aesthetics</span>
                    </li>
                    <li class="list-group-item">Casa View <span class="badge badge-primary badge-pill">Nightlife</span>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h3 class="card-text">Things To Do</h3>
                <ul class="list-group list-group-horizontal-sm d-flex justify-content-center">
                    <li class="list-group-item"> <img
                            src="../../public/assets/images/Screen Shot 2019-03-28 at 11.13.05 AM.png" width="330px"
                            height="125px">
                    </li>
                    <li class="list-group-item"> <img
                            src="../../public/assets/images/Screen Shot 2019-03-28 at 11.12.56 AM.png" width="330px"
                            height="125px">
                    </li>
                </ul>
                <ul class="list-group list-group-horizontal-sm d-flex justify-content-center">
                    <li class="list-group-item"> <img
                            src="../../public/assets/images/Screen Shot 2019-03-28 at 11.12.50 AM.png" width="330"
                            height="125px">
                    </li>
                    <li class="list-group-item"> <img
                            src="../../public/assets/images/Screen Shot 2019-03-28 at 11.12.35 AM.png" width="330"
                            height="125px">
                    </li>
                </ul>
            </div>
            <div class="card-body d-flex justify-content-center">
                <nav class="navbar navbar-light bg-light"></nav>
                <a class="navbar-brand" href="./home.html">
                    <i class="fas fa-home fa-3x"></i>
                </a>
                </nav>

                <nav class="navbar navbar-light bg-light"></nav>
                <a class="navbar-brand" href="#">
                    <i class="fas fa-search-location fa-3x"></i>
                </a>
                </nav>

                <nav class="navbar navbar-light bg-light"></nav>
                <a class="navbar-brand" href="#">
                    <i class="fas fa-sign fa-3x"></i>
                </a>
                </nav>

                <nav class="navbar navbar-light bg-light"></nav>
                <a class="navbar-brand" href="#">
                    <i class="fas fa-map-marked-alt fa-3x"></i>
                </a>
                </nav>

            </div>
        </div>



</body>

</html>