.list-group-item {
  line-height: 2.5;
}

body {
  background: url("https://bloximages.chicago2.vip.townnews.com/tucson.com/content/tncms/assets/v3/editorial/2/33/2336b92e-6875-548e-9a57-9852674b882e/5b84259423f93.image.jpg?resize=1200%2C800");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}



.signInBox {
  padding: 50px;
}
.buttonstyle {
  font-family: "Amatic SC", cursive;
  font-size: 80px;
  
}
.buttonstyle2 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  margin-top:30px;
  
}

.font1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 100px;
}

.font2 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 30px;
}
.font3 {
  font-family: "Amatic SC", cursive;
  text-align: left;
  font-size: 30px;
}
.button {
  border-radius: 4px;
  border: none;
  padding: 7px;
  background-color: #28a745;
  font-size: 23px;
  font-family: "Caveat", cursive;
  color: white;
  width: 100%;
}

.button2 {
  border-radius: 4px;
  border: none;
  padding: 7px;
  background-color:#007bff;
  font-size: 23px;
  font-family: "Caveat", cursive;
  color: white;
  width: 100%;
}

.button3 {
  border-radius: 4px;
  border: none;
  padding: 7px;
  background-color: #d39e00;
  font-size: 23px;
  font-family: "Caveat", cursive;
  color: white;
  width: 100%;
}

.button4 {
  border: none;
  padding: 7px;
  background-color: #28a745;
  font-size: 23px;
  font-family: "Caveat", cursive;
  color: white;
  font-stretch: expanded;
  text-align: center;
  
}
.leads {
  font-size: 30px;
  font-family: "Caveat", cursive;
  text-align: center;
}

.bars {
  background-color: #28a745;
}
.fill {
  background-color: #cfcbd3;
}
.jumbotron {
  background: none
}

.form {
  background-color: white;
  padding: 100px;
  margin-left: 200px;
  margin-right: 200px;

}

.title {
  margin-left: 200px;
  margin-right: 200px;
  
}

.title2{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
}

/* .footer {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
} */