.list-group-item {
  line-height: 2.5;
}
/*this is for the background of the web pages and the background styling*/

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
/* .simple {
  background-color: #000;
} */

h2 {
  color: white;
}

.btn-secondary {
  margin-top: 5px;
}

body {
  background-image: url(./assets/images/grasscopy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.mapview {
  background-image: url("https://66.media.tumblr.com/f13be217d77f755e3bf96f0ca48290b8/tumblr_ppass2mxFd1trrzduo1_1280.jpg");
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-11 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background: url("https://66.media.tumblr.com/f13be217d77f755e3bf96f0ca48290b8/tumblr_ppass2mxFd1trrzduo1_1280.jpg");
  background-size: 100%;
  min-height: 400px;


}
.bgimg-11 {
  background: url("https://66.media.tumblr.com/f13be217d77f755e3bf96f0ca48290b8/tumblr_ppass2mxFd1trrzduo1_1280.jpg");
  background-size: 100%;
  
  

}

.bgimg-2 {
  background-image: url("https://66.media.tumblr.com/f13be217d77f755e3bf96f0ca48290b8/tumblr_ppass2mxFd1trrzduo1_1280.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://66.media.tumblr.com/9c1993cb785fac838837cb60d2c87ea9/tumblr_ppasq8HERo1trrzduo1_1280.jpg");
  min-height: 400px;
}
.bgimg-4 {
  background-image: url("https://66.media.tumblr.com/f13be217d77f755e3bf96f0ca48290b8/tumblr_ppass2mxFd1trrzduo1_1280.jpg");
  min-height: 1000px;
  background-repeat: no-repeat;
}

.bg5 {
  background-image: url("https://66.media.tumblr.com/f13be217d77f755e3bf96f0ca48290b8/tumblr_ppass2mxFd1trrzduo1_1280.jpg");
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption2 {
  left: 0;
  margin-bottom: 200px;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.card2 {

  background-image: url("https://66.media.tumblr.com/f13be217d77f755e3bf96f0ca48290b8/tumblr_ppass2mxFd1trrzduo1_1280.jpg");
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-size: 100%;
  opacity: 0.85;
  
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  float: left;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
.buttonstyle4 {
  font-family: "Amatic SC", cursive;
  font-size: 150px;
  opacity: 0.85;
  
  
}


.signInBox {
  padding: 50px;
}
.buttonstyle {
  font-family: "Amatic SC", cursive;
  font-size: 80px;
  opacity: 0.65;
  
  
}
.buttonstyle2 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  margin-top:30px;
  
}
.buttonstyle3 {
  font-family: "Amatic SC", cursive;
  font-size: 80px;

  
  
}

.font1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 120px;
  
}

.font2 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 30px;
}
.font3 {
  font-family: "Amatic SC", cursive;
  text-align: left;
  font-size: 30px;
}
.font5 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 30px;
}
.button {
  border-radius: 4px;
  border: none;
  padding: 7px;
  background-color: #28a745;
  font-size: 23px;
  font-family: "Caveat", cursive;
  color: white;
  width: 100%;
}

.button2 {
  border-radius: 4px;
  border: none;
  padding: 7px;
  background-color:#007bff;
  font-size: 23px;
  font-family: "Caveat", cursive;
  color: white;
  width:50%;
  margin-top:5px;
  margin-bottom: 5px;
}

.button3 {
  border-radius: 4px;
  border: none;
  padding: 7px;
  background-color: #d39e00;
  font-size: 23px;
  font-family: "Caveat", cursive;
  color: white;
  width: 100%;
}

.button4 {
  border: none;
  padding: 7px;
  background-color: #28a745;
  font-size: 23px;
  font-family: "Caveat", cursive;
  color: white;
  font-stretch: expanded;
  text-align: center;
  
}
.leads {
  font-size: 33px;
  font-family: "Caveat", cursive;
  text-align: center;

}

.bars {
  background-color: #28a745;
  border: transparent;
}
.fill {
  background-color: #cfcbd3;
}
.jumbotron {
  background: none
}

.form {
  background-color: lightgrey;
  opacity: 0.75;
  padding: 100px;
  margin-left: 200px;
  margin-right: 200px;

}

.ico{
  width:100px;
  display:inline-block;
  height:20px;
  background:transparent;
  color:white;
  text-decoration:none;
  float: left;
  margin-left: 400px;
  margin-right: 100px;
 

}
.ico:before{
  content: '';
  background:url('https://66.media.tumblr.com/5fd21cf99c21e570f0ce6087d63db0a0/tumblr_ppbfd4cH6I1trrzduo1_540.png');
  background-size:cover;
      position:absolute;
  width:90px;
  height:90px;

}

.ico2{
  width:100px;
  display:inline-block;
  height:20px;
  background:transparent;
  color:white;
  text-decoration:none;
  float: left;
  margin-right: 100px;
}
.ico2:before{
  content: '';
  background:url('https://66.media.tumblr.com/ba8f53c661504bca5b39a0ed27d427c1/tumblr_ppbfd4cH6I1trrzduo2_250.png');
  background-size:cover;
      position:absolute;
  width:90px;
  height:90px;
}

.ico3{
  width:100px;
  display:inline-block;
  height:20px;
  background:transparent;
  color:white;
  text-decoration:none;
  float: left;
  margin-right: 100px;
}
.ico3:before{
  content: '';
  background:url('https://66.media.tumblr.com/7cbf6d7704484301533a703be36356fd/tumblr_ppbfd4cH6I1trrzduo3_250.png');
  background-size:cover;
      position:absolute;
  width:90px;
  height:90px;
 
}
.ico4{
  width:100px;
  display:inline-block;
  height:20px;
  background:transparent;
  color:white;
  text-decoration:none;
  float: left;
  margin-right: 100px;
}
.ico4:before{
  content: '';
  background:url('https://66.media.tumblr.com/5fd21cf99c21e570f0ce6087d63db0a0/tumblr_ppbfd4cH6I1trrzduo1_540.png');
  background-size:cover;
      position:absolute;
  width:90px;
  height:90px;
 
}
.ico5{
  width:100px;
  display:inline-block;
  height:20px;
  background:transparent;
  color:white;
  text-decoration:none;
  float: left;
  margin-right: 100px;
}
.ico5:before{
  content: '';
  background:url('https://66.media.tumblr.com/5fd21cf99c21e570f0ce6087d63db0a0/tumblr_ppbfd4cH6I1trrzduo1_540.png');
  background-size:cover;
      position:absolute;
  width:90px;
  height:90px;
  
 
}
.ico6{
  width:100px;
  display:inline-block;
  height:20px;
  background:transparent;
  color:white;
  text-decoration:none;
  float: left;
  margin-right: 100px;
}
.ico6:before{
  content: '';
  background:url('https://66.media.tumblr.com/5fd21cf99c21e570f0ce6087d63db0a0/tumblr_ppbfd4cH6I1trrzduo1_540.png');
  background-size:cover;
      position:absolute;
  width:90px;
  height:90px;
  
}

.title {
  margin-left: 200px;
  margin-right: 200px;
  
}

.title2{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  background-color: lightgrey;
  opacity: 0.75;
}

/* .footer {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
} */

#map {
  height: 425px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}